---
layout: default
title: IN+BLOG
---
<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    	<meta http-equiv="content-type" content="text/html">
    	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="./img/icon.jpg">
		

	    
		<title>BLOG</title>
	    <link href="./css/bootstrap.min.css" rel="stylesheet">
	    <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-64368264-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

	<body>
  		<div class="masthead" style="margin-bottom:-20px;background-color:">
	        <div class="container" style="padding-top:40px;padding-bottom:40px">
	        	<!-- <div class="row featurette">
        			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top:20px">
	        			<img src="./img/logo.jpg" alt="Generic placeholder image" width="45%">
	        		</div>
	        		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-left:-90px">
						<p style="color:#2980B9;padding-top:15px"><font size="5.9em">移动互联网及金融大数据实验室</font></p>
						<p style="color:#2980B9"><font size="3.9em"><em>Mobile Internet and Finance Big Data Lab ( In<sup>+</sup> Lab )</em></font></p>
					</div>
				</div> -->
				<img src="./img/banner.jpg" width="50%">
	        </div>

		    <nav id="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation" style="width:100%">
				<div class="container">
			        <!-- <div class="navbar-header">
						<a class="navbar-brand" href="home.html" style="color:white">In<sup>+</sup> Lab</a>
		        	</div> -->
		        	<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
		            		<li><a href="index.html" style="color:white">In<sup>+</sup> Lab 首页</a></li>
			            	<li><a href="members.html" style="color:white">成员信息</a></li>
			            	<li><a href="projects.html" style="color:white">研究方向</a></li>
			            	<li><a href="news.html" style="color:white">最新动态</a></li>
			            	<li><a href="papers.html" style="color:white">著作论文</a></li>
			            	<li><a href="meetings.html" style="color:white">小组会议</a></li>
			            	<li><a href="exchange.html" style="color:white">交流合作</a></li>
							<li class="active"><a href="about.html" style="color:white">BLOG</a></li>
			            	<li><a href="about.html" style="color:white">关于我们</a></li>
			          	</ul>
			        </div>
	      		</div>
	    	</nav>
		</div>
	</body>
</html>

<html>
	<body>
			<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	<div id="header_wrap" class="outer">
			
        <header class="inner">
<!--          <a id="forkme_banner" href="https://github.com/gneh/blog_type">View on GitHub</a>		-->

          <h1 id="project_title">{{ page.title }}</h1>

<!--            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/gneh/blog_type/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/gneh/blog_type/tarball/master">Download this project as a tar.gz file</a>
            </section>
-->
        </header>
    </div>


	<div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">
		<h3>
			<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>最新文章</h3>
			{% for post in site.posts %}			
			<p>{{ post.date | date_to_string }}	<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
			{% endfor %}
		</section>
	</div>


	
	<footer class="bs-docs-footer" role="contentinfo" style="margin-top:50px;padding-top:30px;padding-bottom:25px;background-color:black">
	    	<div class="container">
  				<p style="color:white">&copy; 2015-2016 移动互联网与金融大数据实验室</p>
				<p style="color:white">广州大学城中山大学东校区教学南实验楼D203室, 510006</p>
				<p style="color:white"><em>Powered by Bootstrap</em></p>
		  	</div>
	</footer>

	    <script src="./js/bootstrap.min.js"></script>
	    <script src="./js/navbar.js"></script>
	    <script src="./js/statistics.js"></script>
	</body>
	
</html>


<!--
<p>最新文章</p>
<ul>
	{% for post in site.posts %}
		<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
->